@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);

img {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

body{
	background-image:url(../img/b8.jpg);
	/*background-color: #ccc;*/
	background-repeat: no-repeat;	
	background-size: 100%;
	background-attachment: fixed;
	
}

a{outline:none;text-decoration: none;}

ul{padding:0; margin:0; list-style-type: none;}


.derecha-superior{
	background-color: rgba(35, 35, 35,0.35);
	width: 100%;
	height: 204px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	margin-top: 0;

}

.derecha-inferior{
	width: 100%;
	height: 380px;
	display: inline-block;
	overflow-y:scroll; 
}



/*MENU PRINCIPAL PAGINA */
.menu-pagina{
	width: 100%;
	background-color: rgba(34,34,34,0.95);
	height: 40px;
	position: fixed;
	top: 0;
	left: 0;
}

.contenedor-menu{
	width: 986px;
	height: 40px;
	margin: 0 auto;
}

.menu-izquierda{
	
	width: 609px;
	height: 40px;
	float: left;
}

.menu-derecha{
	
	width: 377px;
	height: 40px;
	float: right;
}

.info-usuario-menu{
	
	width: 370px;
	height: 40px;
	float: left;
}

.contenedor-iconos-menu{
	
	width: auto;
	height: 40px;
	float: right;
}

.menu-profile{
	float: left;
}

.menu-funciones{
	float: right;
	margin-right: 20px;
}

.menu-funciones li{
	display: inline-block;
	vertical-align: top;
	margin: 5px 7px;
}

.pf-menu{
	font-family: "Roboto";
	font-size: 15px;
	font-weight: 600;
	color: white;
	padding-top: 3px; 
	cursor: pointer;
}

.pf-menu-activo{
	font-family: "Roboto";
	font-size: 15px;
	font-weight: 600;
	color: #1abc9c;
	padding-top: 3px; 
	cursor: pointer;
}

.icono-menu{
	display: inline-block;
	vertical-align: top;
	width: 22px;
}
.pp-menu{
	float: left;
	padding-top: 7px;
	padding-left: 16px;
}

.nombre-usuario-menu{
	padding-left: 9px;
	padding-top: 10px; 
	float: left;
	font-family: "Roboto";
	font-size: 14px;
	font-weight: 600;
	color: white;
	letter-spacing: 1px;

}

.iconos-menu{
	float: left;
}

.avatar-menu{border: 2px solid rgba(199,201,201,0.0);; }
.avatar-menu,.avatar-menu- img{
width: 25px;
height: 25px;
-webkit-border-radius: 180px; /* Saf3+, Chrome */
border-radius: 180px; /* Opera 10.5, IE 9 */
/*-moz-border-radius: 30px; Disabled for FF1+ */
}

.menu-pagina li{
	float: left; 
	padding-top: 5px;
}


.menu-pagina li a{
 
}

.menu-pagina li a img{
	width: 20px;
	display: inline-block;
  	padding-right: 35px;
}

.menu-icono{
	width: 28px;
	padding-top: 5px;
}

.menu-item{
	width: auto;
	margin:5px ;
	font-weight: 600;
	font-family: "Roboto";
	font-size: 16px;
	color: white;
	float: left;
}

.logo{
	float: right;
	color: white;
}

.logo-menu{
	padding-right: 0px;
	margin-top: -7px;
	margin-left: 16px;
}

.logo-menu img{
	width: 35px;
}

#search {
  width: 233px;
  float: left;
  padding-left: 2px;
  padding-top: 6px;
  height: 25px;

}

#search_text {
  width: 203px;
  padding: 15px 0 15px 10px;
  margin-right: 0px;
  outline: none;
  background-color: rgba(255, 255, 255, 1);
  float: left;
  -webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-bottomleft: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
  box-sizing: border-box;
  transition: all 0.15s;
}
::-webkit-input-placeholder {
  color:#4e4f4f;
}
:-moz-placeholder {
  color:white;
}
::-moz-placeholder {
  color:white;
}
:-ms-input-placeholder {
  color:white;
}
#search_text:focus{
  background: rgba(33,30,30,0.85);
}
#search_button{
  border-left: 1px solid #bcc2cb;
  border-right: none;
  border-top: none;
  border-bottom: none;
  background: #12a19a url(http://designmodo.com/demo/dropdown-menu-search/search.png) center no-repeat;
  width: 30px;
  float: left;
  padding: 0;
  text-align: center;
  height: 30px;
  cursor: pointer;
  -webkit-border-top-right-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}

.settings-btn{
	width: 65px;
	height: 26px;
	background-color: red;
	float: left;
	margin-left: 16px;
	margin-top: 8px;
	background-color: rgba(26,188,156,1);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
}	

.settings{
	font-family: "Roboto";
	font-size: 14px;
	color: white;
	font-weight: 600;
	text-align: center;
	margin-top: 3px;
}

.circle {width:30px; height:30px; border-radius:100px; -moz-border-radius: 100px; -webkit-border-radius: 100px; -khtml-border-radius: 100px; font-size:20px; color:#fff; line-height:200px; text-align:center; 
		 float: right; margin-top: 6px; margin-right: 9px;background-color:#1abc9c; background-image: url(../img/exit.png); background-position: center; background-size: 16px; background-repeat: no-repeat;
		 cursor: pointer;
 }


/*-----------------------MENU PRINCIPAL PAGINA------------------------- */

/*CONTENIDO PRINCIPAL DE LA PAGINA */

.scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #FFF;

}

.scroll::-webkit-scrollbar
{
	width: 0;
	background-color: #fff;

}

.scroll::-webkit-scrollbar-thumb
{
	background-color: #ccc;

	
}

.nombre-seccion{
	width: 100%;
	height: 35px;
	border-bottom: 4px solid #727F7F;
	background-color: #95a5a6;
}


.contenedor-publicacion{
	margin-top: 40px;

}

.avatar-publicacion{border: 2px solid rgba(199,201,201,0.0);; }
.avatar-publicacion,.avatar-publicacion- img{
width: 45px;
height: 45px;
-webkit-border-radius: 180px; /* Saf3+, Chrome */
border-radius: 180px; /* Opera 10.5, IE 9 */
/*-moz-border-radius: 30px; Disabled for FF1+ */
}


.contenedor-principal-2{
	width: 986px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 49px;
}

.contenido-izquierda{
	width: 600px;
	float: left;
	background-color: rgba(34, 30, 30,0.35);
	height:auto;
	color: #000;
	overflow-y:scroll; 
	position: fixed;
	top: 49px;
	-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.contenido-derecha{
	width: 377px;
	float: right;
	height: auto;
	-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.nombre-seccion-2{
	width: 600px;
	height: 30px;
	border-bottom: 2px solid  #fff;
	background-color: rgba(189, 195, 199,0.4);
	position: fixed;
	top: 49px;
	-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;

}

.seccion-2{
	float: left;
	font-family: "Roboto";
	font-size: 18px;
	font-weight: 600;
	padding: 3px 15px;
	color: #fff;

}

.c-izquierda-i{
	width: 115px;
	height: 500px;
	float: left;
	margin:0;	

}

.c-central-i{
	width: 371px;
	height: 500px;
	float: left;
	margin:0;	
}
.c-derecha-i{
	width: 114px;
	height: 500px;
	float: left;
	margin:0;	
}

.img-externo-i{
	width: 100%;
	margin: 30px 0;
	overflow: hidden;
}

.img-externo-i img{
	width: 100%;
	height: 525px;
	overflow: hidden;
}
.barra-img{
	width: 100%;
	height: 35px;
	margin-top: -81px;
	background-color: rgba(35,35,35, 0.45);
	z-index: 300000;
}

.info-ls-img{
	padding-top: 9px;
}

.icono-img{
	float: left;
	padding-left: 6px;

}
.icono-img img{
	width: 14px;

}

.izq{
	padding-left: -2px; !important
}
.numero-img{
	float: left;
	padding-left: 4px;
	font-size: 14px;
	font-family: "Roboto", sans-serif;
	font-weight: 600;
	color: white;
}

.numero-img2{
	float: left;
	padding-left: 0px;
	font-size: 14px;
	font-family: "Roboto", sans-serif;
	font-weight: 600;
	color: white;
}
.img-botones{
	width: 120px;
	height: 35px;
	margin-top: -9px;
	float: right;
	margin-right: 10px;
	
}

.like-boton{
	width: 55px;
	float: left;
	height: 35px;
	background-color: rgba(255,255,255, 0.25);
	cursor: pointer;
	border-radius: 30px/70px; /* horizontal radius / vertical radius */
}

.like-boton img{
	padding-left: 13px;
	padding-top: 5px;
	width: 30px;
}

.share-boton{
	width: 55px;
	float: right;
	height: 35px;
	background-color: rgba(255,255,255, 0.25);
	border-radius: 30px/70px; /* horizontal radius / vertical radius */
}

.share-boton img{
	padding-left: 13px;
	padding-top: 5px;
	width: 30px;
}

.clear{
	width: 100%;
	height: 9px;
}

.fotos-2{
	width: 100%;
}

.fotos-2-izquierda{
	width: 48.5%;
	float: left;
	height: auto;
}

.fotos-2-izquierda img{
	width: 100%;
	height: auto;
}

.fotos-2-derecha{
	width: 48.5%;
	float: right;
	height: auto;
}

.fotos-2-derecha img{
	width: 100%;
	height: auto;
	
}

.derecha-inferior img{
	
}

.comentario-img{
	width: 100%;
	height: 35px;
	background-color: rgba(35,35,35, 0.55);
	position: relative;
	top:-530px;
	font-family: "Roboto";
	font-size: 14px;
	color: white;
	font-weight: 300;
	text-align: center;
	padding-top: 12px;
}
.barra-hashtag{
	width: 100%;
	height: 35px;
	margin-top: 9px;
	display: block;
	background-color: rgba(35, 35, 35,0.35);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
}
.categoria-hashtag{
	width: 75px;
	height: 45px;
	padding-top: 5px;
	float: left;
	font-family: "Roboto";
	font-size: 16px;
	color: white;
	font-weight: 500;
	text-align: center;
	border-right:1px solid rgba(35, 35, 35,0.25);; 
}

.on{
	background-color: rgba(35, 35, 35,0.55);
	font-weight: 700;
}
/*-------------------------------------CONTENIDO LADO DERECHO PERFIL----------------------------------- */

/*PERFIL LADO DERECHO */

.fp-ds{
	text-align: center;
	padding-top: 16px;
}

.fp-ds-activo{border: 4px solid rgba(26,188,156,0.7);; }
.fp-ds-activo,.fp-ds-activo- img{
width: 40px;
height: 40px;
-webkit-border-radius: 180px; /* Saf3+, Chrome */
border-radius: 180px; /* Opera 10.5, IE 9 */
/*-moz-border-radius: 30px; Disabled for FF1+ */
}

.e-conectado{border: 3px solid rgba(26,188,156,0.7);; }
.e-conectado,.e-conectado- img{
width: 30px;
height: 30px;
-webkit-border-radius: 180px; /* Saf3+, Chrome */
border-radius: 180px; /* Opera 10.5, IE 9 */
/*-moz-border-radius: 30px; Disabled for FF1+ */
}

.externo-conectado-i{
	padding-top: 30px;
	padding-left: 9px;
	float: left;
}

.externo-nombre-i{
	padding-top: 35px;
	padding-left: 9px;
	float: left;
	font-family: "Roboto";
	font-size: 16px;
	color: white;
	font-weight: 600;

}

.nombre-ds{
	text-align: center;
	margin-top: -4px;
	font-family: "Roboto";
	font-size: 21px;
	color: white;
	font-weight: 600;

}

.status{
	width: 100%;
	height: 30px;
	text-align: center;
	padding-top: 8px;
	font-family: "Roboto";
	font-size: 16px;
	color: white;
	font-weight: 300;
	margin-left: 5px;
	margin-right: 5px;
}

.barra-follow-ds{
	width: 100%;
	height: 40px;
	padding-top: 16px;
	display: block;
}

.follow-ds{
	float: left;
	width: 70px;
	height: 35px;
	margin-left: 16px;
	background-color: rgba(26,188,156,1);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: solid 3px #999999;
}

.follow-ds-btn{
	font-family: "Roboto";
	font-size: 18px;
	font-weight: 800;
	text-align: center;
	margin-top: 5px;
	color: white;

}

.follow-info{
	float: left;
	margin-left: 15px;
	margin-top: 5px;
	width:265px;
	height: 35px;
}

.followinfo-ds{
	float: left;
	width: auto;
	padding-right: 15px;
	height: 35px;
	border-right: 1px solid rgba(255,255,255, 0.25);
	margin-left: 5%;
}

.photosinfo-ds{
	float: left;
	width: auto;
	padding-right: 15px;
	height: 35px;
	margin-left: 5%;
}

.numero-follow{
	text-align: center;
	font-family: "Roboto";
	font-size: 14px;
	font-weight: 700;
	color: white;
	margin-top: -2px;
}

.palabra-follow{
	text-align: center;
	font-family: "Roboto";
	font-size: 14px;
	font-weight: 300;
	color: white;
	margin-top: -2px;
}
/*-------------------------------------TERMINA PERFIL LADO DERECHO----------------------------------- */

/* P2 */




.numero{
	margin-top: -7px;
}


.trends-nombre{
	width: 223px;
	float: left;
}

.trends-categorias-contenedor{
	width: 360px;
	float: left;

}

.nombre-trends-texto{
	float: left;
	margin-left: 10px;
	padding-top: 5px;
	fo
}

.topleft-seccion{
	width: 600px;
	height: 30px;
	float: left;
	margin: 0;
	position: fixed;
	-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
	background-color: rgba(31,30,30,0.65);
	border-bottom: solid 1px rgba(255,255,255, 0.25);
	
}

.categorias_topleft{
	width: 371px;
	float: right;
	margin: 0;
	background-color: rgba(31,30,30,0.65);
	border-bottom: solid 1px #fff;
}

.seccion{
	padding-left: 112px;
	padding-top: 3px;
	font-size: 17px;
	font-family: "Roboto";
	font-weight: 600;
	color: white;
	display: inline-block;
	float: left;
}

.categorias-topleft{
float: right;
width: 410px;
height: 30px;
margin-left:121;
overflow: hidden;
}

.categoria-topleft{
	float: left;
	width: auto;
	height: 30px;
	text-align: center;
	font-weight: 300;
	font-family: "Roboto";
	font-size: 14px;
	color: white;
	display: inline-block;
	overflow: hidden;
	padding: 5px 10px;
	margin: 0;
	border-left: solid 1px rgba(255,255,255, 0.10);
	cursor: pointer;
}
.activa{
	background-color: rgba(0,0,0, 0.45);
	font-weight: 600; !important
	color: #1abc9c; !important

}
.more-categories{
	float: right;
	width: 15px;
	height: 30px;
	background-color: red;
}

.views_topleft{
	float: right;
	padding-right: 35px;
	padding-top: 6px;
	font-size: 14px;
	font-family: "Roboto";
	font-weight: 300;
	color: white;
	display: inline-block;
}

#header-search-form{float:left; margin-left:0px; padding-top:7px}
#header-search-form input{border:0; border-right:1px solid #fff; color:#ccc; float:left; font-size:14px; height:26px; padding:0 8px; width:180px; border-radius:5px 0 0 5px; -moz-border-radius:5px 0 0 5px; -webkit-border-radius:5px 0 0 5px}
#header-search-form input:focus{color:#fff}
#header-search-form .btn{border:0; height:26px; text-align:center; width:30px; border-radius:0 5px 5px 0; -moz-border-radius:0 5px 5px 0; -webkit-border-radius:0 5px 5px 0}
#header-search-form .btn span{ background:url(http://designmodo.com/demo/dropdown-menu-search/search.png) center no-repeat; display:-moz-inline-stack; display:inline-block; *display:inline; height:23px; width:20px; vertical-align:0;}

.btn-primary{background-color: #1abc9c;color:#000005; text-shadow:#bec3c9 0 -1px 0}
.texto-buscador{
	font-family: "Roboto";
	color: #ccc;
	font-size: 14px;
}

.publicacion{
	margin-top:30px;
	display: block;
}

.contenedor-publicacion{
	margin-top:15px; 
}